<mat-card class="animalCard">
    <mat-card-title>
         {{animal.name}} the {{animal.species}}
    </mat-card-title>

    <mat-card-subtitle>
         ( Currently {{animal.status}} )
    </mat-card-subtitle>
    
    <mat-card-content class="card-Body">
        <div class="card-Left">
            <img mat-card-image [src]="animal.image"  />
        </div>
        <div class="card-Right">
            <h3><b>Exhibit Location:</b> {{animal.latitude}}, {{animal.longitude}}</h3>
            <p><b>Gender:</b> {{animal.gender}}</p>
            <p><b>Health Status:</b> {{animal.health}}</p>
            <p><b>Family Count:</b> {{animal.count}} </p>
        </div>
    </mat-card-content>
</mat-card>